@import "tailwindcss";

:root {
    --background: #fffffe;
    --headline: #00214d;
    --paragraph: #1b2d45;

    /* BUTTONS */
    --button-background: #00ebc7;
    --button-background-hover: #00d4a8;
    --button-text: #00214d;

    --sub-headline: #1b2d45;
    --foreground: #171717;

    /* ICONS / ILLUSTRATION */
    --icon-stroke: #00214d;
    --icon-main: #fffffe;
    --icon-highlight: #00ebc7;
    --icon-secondary: #ff5470;
    --icon-tertiary: #fde24f;

    /* CARD */
    --card-background: #f2f4f6;
    --card-headline: #00214d;
    --card-paragraph: #1b2d45;
    --card-tag-background: #fffffe;
    --card-tag-text: #00214d;
    --card-highlight: #ff5470;
}

@layer components {
    .background {
        background-color: var(--background);
    }

    .headline {
        color: var(--headline);
    }

    .paragraph {
        color: var(--paragraph);
    }

    .btn {
        @apply inline-flex gap-2 items-center justify-center rounded-md px-4 py-1.5 font-semibold transition-colors duration-300;
        background-color: var(--button-background);
        color: var(--button-text);
        cursor: pointer;
    }

    .btn:hover {
        background-color: var(--button-background-hover);
        color: var(--button-text);
    }

    .card {
        background-color: var(--card-background);
    }

    .card-headline {
        color: var(--card-headline);
    }

    .card-paragraph {
        color: var(--card-paragraph);
    }

    .card-tag {
        background-color: var(--card-tag-background);
        color: var(--card-tag-text);
    }

    .card-highlight {
        color: var(--card-highlight);
    }


}

